.btn {
  display: inline-block;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  font-family: var(--display);
  font-size: .95rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .15s;
  text-align: center;
  white-space: nowrap;
  background: var(--accent);
  color: #000;
  font-weight: 600;
}

.btn:active {
  background: var(--accent2);
  box-shadow: 0 0 20px var(--glow);
}

.block {
  display: block;
  width: 100%;
}
