.box {
  background: var(--bg);
  border: 1px solid var(--green2);
  border-radius: 4px;
  padding: 12px;
  font-family: var(--mono);
  font-size: .78rem;
  color: var(--green);
  white-space: pre-wrap;
  overflow-x: auto;
  line-height: 1.7;
  margin-top: 10px;
}
